*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


$primary-color: #db4439;
$white-color: #f1e7da;
$milkly-white:#f1e8db;




img{
    width: 100%;
}

a{
    display: inline-block;
    margin-bottom: 10px;
    color: $white-color;
    text-decoration: none;
}

.lead{
    font-size: 3rem;
}

nav{
    justify-content: space-between;
}

ul{
    list-style: none;
    justify-content: space-between;
}

.flex{
    display: flex;
    flex-wrap: wrap;
    // justify-content: space-between;
    align-items: center;
}


.text-center{
    text-align: center;
}


.btn{
    margin-left: 10px;
    background-color: $white-color;
    padding: 20px 35px;
    color: $primary-color;
    border-radius: 35px;
    box-shadow: -5px 5px 5px 5px rgba(0, 0, 0, 0.5); 
}

.btn-primary:hover,
.btn-secondary:hover{
    background-color: #e4847d;
}

.btn-secondary{
    font-size: 1.5rem;
    background-color: $primary-color;
    color: $white-color;
    box-shadow: -5px 5px 5px 5px #762824;
}